/* FORM */
.three-components {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
}

.form {
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 700px;
  height: auto;
  background-color: white;
  border-radius: 4px;
}

.search-button {
  width: auto;
  height: auto;
}

.advanced-button {
  width: 300px;
  height: auto;
}

/* ADVANCED BUTTONS */
.advancedButtons {
  display: flex;
  justify-content: space-evenly;
}

#theme,
#price,
#year {
  width: 200px;
  height: 56px;
}

.itemList {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.list {
  border: 1px solid black;
  border-radius: 4px;
}

#item {
  text-align: center;
  background-color: white;
  cursor: pointer;
}

/* BOOKS */
.books {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 100px;
}

.books img {
  width: auto;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}
/* NUMBER OF BOOKS */
.books-number {
  display: flex;
  justify-content: center;
}
