body {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #333355;
}

.avatar {
  display: flex;
  justify-content: space-around;
}

.label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}
