body {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #333355;
}

.avatar {
  display: flex;
  justify-content: space-around;
}

img {
  border-radius: 50%;
}

@media all and (max-width: 800px) {
  .avatar {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-right: 20px;
  }
  #avatar1 {
    width: '100';
  }
}

@media all and (min-width: 800px) {
  #avatar1 {
    width: '300';
  }
}
