h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap {
  background-color: grey;
  height: 100vh;
  width: auto;
  display: grid;
  grid-gap: 5px;
}
#coverBook {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  max-height: 100%;
  max-width: 100%;
}

#title {
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0px;
}

#authorName {
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0px;
}

#averageNote {
  background-color: white;
  grid-column-start: 4;
  grid-column-end: 5;
  margin: 0px;
}

#description {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0px;
}

#media {
  background-color: white;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}

#place {
  background-color: white;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 5;
}

#specification {
  background-color: white;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 5;
}
