body {
  margin: 0;
  font-family: 'Raleway', 'sans-serif';
}

.label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
  font-family: 'Raleway', 'sans-serif';
}

#name {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: auto;
  font-family: 'Raleway', 'sans-serif';
}

#outlined-basic4 {
  width: 675px;
  height: 112px;
  font-family: 'Raleway', 'sans-serif';
}

input {
  width: 300px;
  display: inline-block;
  justify-content: center;
  background: #333355;
  color: #ecc39f;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-family: 'Raleway', 'sans-serif';
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
  cursor: pointer;
}

@media all and (max-width: 700px) {
  #name {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
  }
  #outlined-basic4 {
    width: 375px;
  }
}
