body {
  margin: 0;
}

.label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 10px;
  font-weight: 100;
}

#name {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: auto;
}

#outlined-basic4 {
  width: 675px;
  height: 112px;
}

input {
  width: 300px;
  display: inline-block;
  justify-content: center;
  background: #333355;
  color: #ecc39f;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-family: 'century gothic', 'Trebuchet MS', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
}

div #name {
  font-size: 10px;
  color: red;
}

TextField #outlined-basic4 {
}
