footer {
  margin-top: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #333355;
  font-family: 'Raleway', sans-serif;
  color: #ecc39f;
  height: 100px;
}
